body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

.contenedor{
  width:100%;
  height: 50%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

h1{
  position: absolute;
  text-align: center;
  width: 36%;
  top:5%;
  margin-bottom: 10%;
  left:1rem;
  color: #45434a;
  z-index: 10;
  margin: 0;
  padding: 0;
  background:transparent;
}

h2{
    position: absolute;
    width: 50%;
    top: 3rem;
    left:1rem;
    color: #e9f2eb;
    z-index: 10;
    margin: 0;
    padding: 0;
    background-color:aqua ;
}
  
h3{
    position: absolute;
    top: 5rem;
    left:1rem;
    color: #e9f2eb;
    z-index: 10;
    margin: 0;
    padding: 0;
}
  
h4{
    position: absolute;
    margin-top: 5%;
    width:37%;
    top:15%;
    left:1rem;
    color: #45434a;
    z-index: 10;
    margin: 0;
    padding: 0;
    background-color:aqua;
}


